.Weather {
    display: flex;
}

.Weather-condition {
    display: flex;
    flex-direction: column;
}

.Weather-condition.img {
    width: 80px;
}

.Weather-temp {
    font-size: 90px;
    padding: 10px;
}

.Weather-update {
    font-size: 12px;
}